---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Minecraft">
	<div class="center">
		<div class="animate__animated animate__jackInTheBox">
			<h1>Page not found</h1>
		</div>
	</div>
</Layout>
